<h1>Pay what you want for the <span class="bold">Divinity Bundle</span> ($32 value!)</h1>

<div>
    <div class="bundle-info">
        <div>
            <i class="fa fa-heart"></i>
            Support Larian Studios
        </div>
        <div>
            <i class="fa fa-gamepad"></i>
            Play Divinity 2: DC before release
        </div>
        <div><i class="fa fa-unlock-alt"></i>
            Get DRM-free games with goodies
        </div>
        <div class="countdown">
            <i class="fa fa-clock-o"></i>
            Only <span class="bold">23:54:55</span> left
        </div>
    </div>
</div>


