<h1>Pay what you want for the <span class="bold">Divinity Bundle</span> ($32 value!)</h1>

<div>
    <ul class="bundle-info">
        <li>
            <i class="fa fa-heart"></i>
            Support Larian Studios
        </li>
        <li>
            <i class="fa fa-gamepad"></i>
            Play Divinity 2: DC before release
        </li>
        <li><i class="fa fa-unlock-alt"></i>
            Get DRM-free games with goodies
        </li>
        <li class="countdown">
            <i class="fa fa-clock-o"></i>
            Only <span class="bold">23:54:55</span> left
        </li>
    </ul>
</div>
